.archive .entry-header.ct-container,
.post-type-archive .entry-header.ct-container {
  padding-top: 16px !important;
}

.archive .woo-listing-top,
.post-type-archive .woo-listing-top {
  padding: 16px 0;
  border-top: 1px solid var(--theme-border-color);
  border-bottom: 1px solid var(--theme-border-color);
}

.products .product {
  height: calc(100% - 1px);
  border: 1px solid #cdd1d4;
  border-radius: 8px;
  overflow: hidden;
  padding-bottom: 24px;
}

.products.columns-4 {
  column-gap: 24px;
}

@media (max-width: 600px) {
  .products .product {
    text-align: left;
  }
}

.products .product figure .ct-media-container {
  border-radius: 0 !important;
}

.products .product .woocommerce-loop-product__title,
.products .product .jdgm-widget,
.products .product .price,
.products .product .ct-woo-card-actions {
  display: block;
  width: 100%;
  padding: 0 24px;
}

.products .product .price .wwp-wholesale-pricing-details p {
  margin-bottom: var(--product-element-spacing, 10px);
}

.products .product .noteware-backorder-chip {
  width: calc(100% - 48px) !important;
  margin-left: 24px;
  margin-right: 24px;
  padding: 8px;
  border-radius: 4px;
}

@media screen and (max-width: 768px) {
  [data-products] .product figure {
    --product-element-spacing: 12px;
  }
  .products.columns-4 {
    grid-column-gap: 12px;
    grid-row-gap: 12px;
  }

  .products .product .woocommerce-loop-product__title,
  .products .product .jdgm-widget,
  .products .product .price,
  .products .product .ct-woo-card-actions {
    padding: 0 var(--product-element-spacing, 12px);
  }

  .products .product .noteware-backorder-chip {
    width: calc(100% - 24px) !important;
    margin-left: 12px;
    margin-right: 12px;
  }
}

.products .product .ct-woo-card-actions a {
  width: 100%;
  display: block;
  text-align: center;
  line-height: 300%;
  border-radius: 0;
  font-weight: bold;
}

.products .product .ct-woo-card-actions a.loading {
  background-color: #eee !important;
}

.products .product .ct-woo-card-actions a.added_to_cart {
  display: none !important;
}

@media screen and (max-width: 768px) {
  .products .product .ct-woo-card-actions a {
    font-size: 14px;
    min-height: 0;
    padding: 4px 0;
  }
}

.products .product .price .sale-price {
  flex-flow: row-reverse;
}
.products .product .add_to_cart_button {
  background-color: var(--theme-palette-color-11);
}

.products .product .ct-woo-card-extra {
  top: auto;
  bottom: 15px;
}

.products .product .jdgm-prev-badge__text {
  font-size: 14px;
}

#woo-filters-panel .ct-block-wrapper {
  margin: 0 !important;
}

#woo-filters-panel .ct-block-wrapper .wp-block-heading {
  font-weight: 500;
  font-size: 18px;
  line-height: 24px;
  color: var(--theme-palette-color-1);
}

#woo-filters-panel .ct-block-wrapper .ct-filter-widget {
  row-gap: 6px;
}

#woo-filters-panel .ct-block-wrapper .ct-filter-label {
  color: var(--theme-palette-color-2);
  font-weight: 300;
  font-size: 18px;
}

/* .products .product .ct-woo-card-extra .ct-button {
  background-color: transparent;
}

.products .product .ct-woo-card-extra .ct-button svg {
  fill: white !important;
} */

.ct-product-category-count {
  width: 100%;
  text-align: center;
  font-size: 18px;
  line-height: 48px;
  color: var(--theme-palette-color-1);
  margin-bottom: 24px;
}

.ct-load-more-helper .ct-load-more {
  border: 1px solid var(--theme-button-text-initial-color);
  font-weight: 500;
}

.ct-product-category-description-wrapper {
  margin-top: 40px;
}
.ct-product-category-description-wrapper .ct-module-title {
  font-weight: 500;
  font-size: 30px;
  line-height: 48px;
  color: var(--theme-palette-color-1);
}

.ct-product-category-description-wrapper .ct-product-category-description {
  margin-top: 24px;
}
